@tailwind base;
@tailwind components;
@tailwind utilities;


/* product */
.inputPrimary  {
    border: 1px solid #9CA3AF;
}
.fieldInputContainer {
    display: flex;
    flex-direction: column;
    width: 10%;
}
.inputLabel {
    font-weight: 600;
}
.upload-variant-list {
    list-style-type: none;
}
.thumb-variant {
    width: fit-content;
    position: relative;
}
.thumb-variant .variant-delete-image {
    position: absolute;
    color: red;
    top: 0;
    right: 5px;
}
.upload-variant-list .thumb-variant img {
    width: 100px;
    height: auto;
}
.productVariant-table .variant-row:hover {
    cursor: pointer;
}
.variant-row .img-cover {
    width: fit-content;
}
.variant-row .img-cover .imageSrc {
    width: 50px;
    height: auto;
}

.album-item-wrapper {
    width: 120px;
    position: relative;
}
.album-item-wrapper .variant-delete-image {
    position: absolute;
    top: 2px;
    right: 10px;
    color: red;
}
/* Header */
.item_small-header {
    display: none;
    position: absolute;
}
.nav-item-menu {
    position: relative;
}
.nav-item-menu:hover .item_small-header {
    display: block;

}


.dataTables_length  > label {
    display: flex;
    flex-direction: column;
}
div.dataTables_wrapper div.dataTables_length  > label > select {
    width: 10%;
}


/* Company Service */
#company-services .company-service--item:hover .comapny-service--des,
#company-services .company-service--item:hover .company-service--icon {
    color: #F59E0B;
}
#company-services .company-service--item:hover .company-service--icon_wrapper {
    transition: all 0.3s;
    transform: translate(0, -5px);
    -webkit-transform: translate(0, -5px);
}
