@tailwind base;
@tailwind components;
@tailwind utilities;


/* product */
.inputPrimary  {
    border: 1px solid #9CA3AF;
}
.fieldInputContainer {
    display: flex;
    flex-direction: column;
    width: 10%;
}
.inputLabel {
    font-weight: 600;
}
.upload-variant-list {
    list-style-type: none;
}
.thumb-variant {
    width: fit-content;
    position: relative;
}
.thumb-variant .variant-delete-image {
    position: absolute;
    color: red;
    top: 0;
    right: 5px;
}
.upload-variant-list .thumb-variant img {
    width: 100px;
    height: auto;
}
.productVariant-table .variant-row:hover {
    cursor: pointer;
}
.variant-row .img-cover {
    width: fit-content;
}
.variant-row .img-cover .imageSrc {
    width: 50px;
    height: auto;
}

.album-item-wrapper {
    width: 120px;
    position: relative;
}
.album-item-wrapper .variant-delete-image {
    position: absolute;
    top: 2px;
    right: 10px;
    color: red;
}
/* Header */
.item_small-header {
    display: none;
    position: absolute;
}
.nav-item-menu {
    position: relative;
}
.nav-item-menu:hover .item_small-header {
    display: block;

}


.dataTables_length  > label {
    display: flex;
    flex-direction: column;
}
div.dataTables_wrapper div.dataTables_length  > label > select {
    width: 10%;
}


/* Company Service */
#company-services .company-service--item:hover .comapny-service--des,
#company-services .company-service--item:hover .company-service--icon {
    color: #F59E0B;
}
#company-services .company-service--item:hover .company-service--icon_wrapper {
    transition: all 0.3s;
    transform: translate(0, -5px);
    -webkit-transform: translate(0, -5px);
}


/* Category list grid */
#child-category--list .child-category--item_grid:hover .card-category--title {
    color: #F59E0B;
}

#child-category--list .card-category--img:hover > img {
    transform: scale(1.1);
    transition: 0.4s;
}

/* Blog */
#latest-blog .card-blog-title--wrapper {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

#latest-blog .card-blog-body:hover .card-blog-title {
    color: #F59E0B;
}
#latest-blog .blog-item {
    overflow: hidden;
}
#latest-blog .blog-item:hover {
    scale: 1.05;
    transition: scale .5s ease;
}

.post-wrap .post-content {
    background-color: #FFFF;
    margin-top: -70px;
    border: 1px solid #F9FAFB;
    border-radius: 16px;
    padding: 16px;
}
.post-grid .page-item.active span.page-link {
    background-color: #3D3D3D;
    color: #FECF56;
    border: #3D3D3D;
}
.post-grid .page-item a.page-link {
    color: #FECF56;
    border: #3D3D3D;


/* Product category page */
.product-thumbnail .image_thumb {
    transition: all ease 0.3s;
    position: relative;
}
.product-thumbnail .image_thumb::before {
    content: "";
    width: 100%;
    height: 100%;
    background: #f19620;
    opacity: 0;
    position: absolute;
    z-index: 2;
    top: 0;
    left: 0;
    border-radius: 12px;
}
.product-thumbnail:hover .image_thumb::before {
    opacity: 0.6;
}
.product-list-container nav {
    display: flex;
    justify-content: center;
}
.product-list-container a.page-link {
    color: #000;
}
.product-list-container .page-item.active .page-link {
    background-color: #F59E0B;
    color: #000;
    border-color: #F59E0B;
}